* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App{
    width: 800px;
}

.post{
    display: flex;
    border: 2px solid teal;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightsteelblue;
}

.navbar__links{
    margin-left: auto;
}

.navbar__links a {
    padding: 0 10px;
    color: teal;
    text-decoration: none;
}